$color: #409eff;
$fff:#fff;
$bg-color: #E4E7E8;
$primary: #007AFF;
$primary-hover: #0062CC;
$cyan: #5AC8FA;
$black: #000000;
$black-dark: #222222;
$gray-dark: #383838;
$gray: #7A7A7A;
$muted: #A2A2A2;
$white: #FFFFFF;
$light: #F9F9F9;
$nav-text-hover: rgba(255, 255, 255, .6);
$success: #4CD964;
$info: #5AC8FA;
$warning: #FF9500;
$danger: #FF3B30;
$text-color: #333333;
$link-color: #007AFF;
$border-color: lighten($black-dark, 65%);
// 边框设置
$border-radius: 3px;
$border-radius-lg: 6px;
$input-border-width: 1px;
$input-border-color: $border-color;